<!DOCTYPE html>
<html lan="es">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Eat-Da-Burger!</title>
</head>
<body>
	{{{ body }}}
</body>
</html>