body {
	/*background-color: darkcyan; */
	background-color: yellow;
}

.container {
	text-align: center;
	margin-bottom: 200px;
}

img {
	width: 10%;
	height: 10%;
}

ul {
	list-style-type: none;
}

#notDevouredBurgers {
	display: inline-block;
	vertical-align: top;
}

#buttons {
	display: inline-block;
	vertical-align: top;
}

#devouredBurgers {
	display: inline-block;
}

#marginCorrection {
	margin-bottom: 30px;
}

#notDevouredList {
	border: solid;
	border-color: black;
    background-color: white;
    text-align: center;
    font-size: 15px;
    padding: 5px 5px 25px 5px;
    margin-bottom: 20px;
    display: inline;
    width: 60%;
    margin-right: 27px;
}

#devouredButtonsArea {
	display: inline-block;
}

#devouredButtons {
	font-size: 15px;
	padding: 5px 10px;
}

#buttonList {
	margin-bottom: 50px;
}

#devouredList {
	border: solid;
    border-color: black;
    color: #a9a6a6;
    background-color: white;
    font-size: 15px;
    padding: 5px 50px 5px 5px;
    margin-bottom: 1px;
}

textarea {
	font-size: 15px;
}

#addButtonDiv {
	text-align: center;
}

#addButton{
	font-size: 15px;
    margin-top: 10px;
    margin-bottom: 3px;
    padding: 10px 20px;
    background: red;
    border: none;
    color: white;
    border-radius: 10px;
}

#addButton:hover {
	background-color: blue;
}